


<nav class="navbar">
    <span class="navbar-brand mb-0 h1 text-light">Bumblebee Database</span>
    <div>
        
    </div>    
</nav>

<h2 class="text-center">Add A Scholar</h2>

<div class="jumbotron">
    
    <div class="container mt-5 bg-gradient-info">

        <div class="row mt-5">

            <form class="form" #userForm="ngForm" (ngSubmit)="savedStudent()">
                <img src="assets/images/bumblebee.png">

                <div class="col-6">

                    <div class="form-group">
                        <label>First Name</label>
                        <input 
                        class="form-control col-6" 
                        type="text" name="firstName" #firstName 
                        
                        [(ngModel)]="newStudent.firstName"
                        [ngClass]="{'is-invalid':newStudentFirstName.errors && newStudentFirstName.touched}"
                        #newStudentFirstName="ngModel"
                        pattern= "[a-zA-Z]*"
                        required
                        minlength="2"
                        >

                        <div [hidden]="!newStudentFirstName.errors?.required" class="invalid-feedback">
                            First Name Required!
                        </div>

                        <div [hidden]="!newStudentFirstName.errors?.minlength" class="invalid-feedback">
                            Must be at least 2 letters!
                        </div>

                        <div [hidden]="!newStudentFirstName.errors?.pattern" class="invalid-feedback">
                            Must be letters!
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input 
                        class="form-control col-6" 
                        type="text" name="lastName" #lastName
                        [(ngModel)]="newStudent.lastName"
                        [ngClass]="{'is-invalid':newStudentLastName.errors && newStudentLastName.touched}"
                        #newStudentLastName="ngModel"
                        pattern= "[a-zA-Z]*"
                        required
                        minlength="2"
                        >

                        <div [hidden]="!newStudentLastName.errors?.required" class="invalid-feedback">
                            Last Name Required!
                        </div>

                        <div [hidden]="!newStudentLastName.errors?.minlength" class="invalid-feedback">
                            Must be at least 2 letters!
                        </div>

                        <div [hidden]="!newStudentFirstName.errors?.pattern" class="invalid-feedback">
                            Must be letters!
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Scholar ID</label>
                        <input 
                        class="form-control col-6" 
                        type="text" 
                        inputmode="numeric"
                        name="studentID" #studentID
                        [(ngModel)]="newStudent.studentID"
                        [ngClass]="{'is-invalid':newStudentStudentID.errors && newStudentStudentID.touched}"
                        #newStudentStudentID="ngModel"
                        required
                        pattern="^[0-9]*$"
                        minlength="6"
                        >

                        <div [hidden]="!newStudentStudentID.errors?.required" class="invalid-feedback">
                            Scholar ID Required!
                        </div>

                        <div [hidden]="!newStudentStudentID.errors?.minlength" class="invalid-feedback">
                            Must be at least 6 numbers!
                        </div>

                        <div [hidden]="!newStudentStudentID.errors?.pattern" class="invalid-feedback">
                            Must numbers!
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input 
                        class="form-control col-6" 
                        type="text" name="email" #email
                        [(ngModel)]="newStudent.email"
                        [ngClass]="{'is-invalid':newStudentEmail.errors && newStudentEmail.touched}"
                        #newStudentEmail="ngModel"
                        required
                        minlength="6"
                        >

                        <div [hidden]="!newStudentEmail.errors?.required" class="invalid-feedback">
                            Email Required!
                        </div>

                        <div [hidden]="!newStudentEmail.errors?.minlength" class="invalid-feedback">
                            Must be at least 6 characters!
                        </div>
                        
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Grade Level</label>
                        <input 
                        class="form-control col-6" 
                        type="number" name="gradeLevel" #gradeLevel
                        inputmode="numeric"
                        [(ngModel)]="newStudent.gradeLevel"
                        [ngClass]="{'is-invalid':newStudentGradeLevel.errors && newStudentGradeLevel.touched}"
                        #newStudentGradeLevel="ngModel"
                        required
                        pattern="^[0-9]*$"
                        minlength="1"
                        >

                        <div [hidden]="!newStudentGradeLevel.errors?.required" class="invalid-feedback">
                            Grade Level Required!
                        </div>

                        <div [hidden]="!newStudentGradeLevel.errors?.minlength" class="invalid-feedback">
                            Must be at least 1 number!
                        </div>

                        <div [hidden]="!newStudentGradeLevel.errors?.pattern" class="invalid-feedback">
                            Must be a number!
                        </div>
                        
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Date Of Birth</label>
                        <input 
                        class="form-control col-6" 
                        type="date" name="dateOfBirth" #dateOfBirth
                        inputmode="numeric"
                        [(ngModel)]="newStudent.dateOfBirth"
                        [ngClass]="{'is-invalid':newStudentDateOfBirth.errors && newStudentDateOfBirth.touched}"
                        #newStudentDateOfBirth="ngModel"
                        required
                        minlength="8"
                        >

                        <div [hidden]="!newStudentDateOfBirth.errors?.required" class="invalid-feedback">
                            Scholar Date of Birth Required!
                        </div>

                        <div [hidden]="!newStudentDateOfBirth.errors?.minlength" class="invalid-feedback">
                            Must be 8 numbers!
                        </div>
                        
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Emergency Contact Number</label>
                        <input 
                        class="form-control col-6" 
                        type="text" name="emergencyContactNumber" #emergencyContactNumber
                        inputmode="numeric"
                        [(ngModel)]="newStudent.emergencyContactNumber"
                        [ngClass]="{'is-invalid':newStudentEmergencyContactNumber.errors && newStudentEmergencyContactNumber.touched}"
                        #newStudentEmergencyContactNumber="ngModel"
                        required
                        pattern="^[0-9]*$"
                        minlength="10"
                        >

                        <div [hidden]="!newStudentEmergencyContactNumber.errors?.required" class="invalid-feedback">
                            Emergency Contact Required!
                        </div>

                        <div [hidden]="!newStudentEmergencyContactNumber.errors?.minlength" class="invalid-feedback">
                            Must be at least 10 numbers!
                        </div>

                        <div [hidden]="!newStudentEmergencyContactNumber.errors?.pattern" class="invalid-feedback">
                            Must be a numbers!
                        </div>
                        
                    </div>
                </div>

                <!-- using *ngif to change button's style -->

                <!-- <div *ngIf="!isEditing">
                    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid"><span class="material-icons">emoji_nature</span>Update Scholar</button>
                </div>
                
                <div *ngIf="isEditing">
                    <button class="btn btn-primary"><a routerLink="/students"></a><span class="material-icons">emoji_nature</span>Update Scholar</button>
                </div> -->

                <div></div>
            </form>
            
        </div>
    </div>
    <hr>
    
    <footer id = footer>
        <p class="text-light">MBSD HQ 2114 E. Pike Blvd, Tyler, Texas 78566</p>
        <p class="text-light">PH: (956) 388-8000</p>
        <p class="text-light">Copyright &copy; My Bumblebees 2021</p>
        
    </footer>

</div>    
