
.jumbotron{
    background-color: darkblue;
}

.container{
    background-color: darkblue;
    width: 600px;
}

.navbar{
    background-color: darkblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
}

.form{
    background-color: rgb(243, 243, 67);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.form-group{
    margin-top: 10px;
    
}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.material-icons{
    color: black;
    
}

#footer{
    margin-left: 10px;
    margin-bottom: 20px;
}

.display-1{
    background-color: rgb(243, 243, 67);
}



