
<h1 class="text-center">Welcome to My Bumblebees School District!!</h1>

<nav class="navbar">
    
    <!-- <img src="assets/images/bumblebee2.png" class="card-img-top"> -->
    <span class="navbar-brand mb-0 h1 text-light">Bumblebee Database</span>

    <div class="col-4">
        <a routerLink="/add-student" class="btn btn-warning btn-sm"><span class="material-icons">emoji_nature</span>Add A Scholar</a>
    </div>

  </nav>

<h2 class="text-center">Current Scholars</h2>

<!-- using structural directives *ngFor / string interpolation
render our data onto the browser -->

<br>

<div class="jumbotron">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="card mb-4" style="max-width: 540px;">
                <div *ngFor="let student of students" class="row no-gutters justify-content-center">

                    <div class="col-md-4">
                        <img src="assets/images/bumblebee.png" class="card-img-top" height= "150px" width="50px" >
                    
                    </div>
                
                    <div class="col-md-6">

                        <h5 class="card-title">Scholar Name: {{ student.firstName }} {{ student.lastName }}</h5>
                        <p class="card-text">Scholar ID: {{ student.studentID}} </p>
                        <p class="card-text">Grade Level: {{ student.gradeLevel }} </p>

                        <a routerLink="/edit-student/{{student.id}}" class="btn btn-warning btn-sm" style="max-width: 12rem;"><span class="material-icons">emoji_nature</span>View</a>

                        <button mat-fab-button (click)="deleteStudent(student.id)" class="btn btn-danger btn-sm text-dark" style="max-width: 12rem;"><span class="material-icons">emoji_nature</span>Delete</button>
                        <hr>
                    </div>    
                </div>
            </div>
        </div>    
    </div>

    <hr>

    <footer id = footer>
        <p class="text-light">MBSD HQ 2114 E. Pike Blvd, Tyler, Texas 78566</p>
        <p class="text-light">PH: (956) 388-8000</p>
        <p class="text-light">Copyright &copy; My Bumblebees 2021</p>
        <a class="text-light" href="#top">Go To Top</a>
    </footer>
</div>

<!-- <div class="row justify-content-center">
    <div th:each="employee: ${employees}" class="card" style="width: 18rem;">
        <div class="card-body border border-info bg-info">
            <div class="row justify-content-center bg-dark rounded-pill">
                <h5 th:text="${employee.firstName}" class="card-title text-uppercase text-warning align-middle">Employee First Name</h5>
                <h5 class="card-title text-light align-middle">&nbsp</h5>
                <h5 th:text="${employee.lastName}" class="card-title text-uppercase text-warning align-middle">Employee Last Name</h5>
            </div>
            <div class="row justify-content-center">
                <br>
                <br>
            </div>
            <div class="row justify-content-center">
                <h6 class="card-text text-dark font-weight-bold">Employee Number:&nbsp</h6>
                <h6 th:text="${employee.employeeNumber}" class="card-text text-light"></h6>
            </div>
            <div class="row justify-content-center">
                <h6 class="card-text text-dark font-weight-bold">Username:&nbsp</h6>
                <h6 th:text="${employee.username}" class="card-text text-light"></h6>
            </div>
            <div class="row justify-content-center">
                <h6 class="card-text text-dark font-weight-bold">Email:&nbsp</h6>
                <h6 th:text="${employee.email}" class="card-text text-light"></h6>
            </div>
            <div class="row justify-content-center">
                <br>
                <br>
            </div>
            <div class="row justify-content-center">
                <a th:href="'/employees/' + ${employee.id} + '/edit'" class="btn btn-warning btn-block rounded-pill text-dark">Edit an Employee</a>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <br>
    <br>
</div>
<div class="row justify-content-center">
        <div class="col-6">
        <a href="/employees/create" type="button" class="btn btn-dark btn-block rounded-pill text-warning">Add an Employee</a>
        </div>
</div>
<div class="row justify-content-center">
    <br>
    <br>
</div> -->